node_modules
dist
coverage
temp/*
!temp/.gitkeep
uploads/*
uploads/auth/*
uploads/auth/avatar/*
!uploads/auth
!uploads/auth/avatar
!uploads/.gitkeep
!uploads/auth/.gitkeep
!uploads/auth/avatar/.gitkeep
!uploads/auth/avatar/profile.png